.buffer {
    margin:1.9%
}
.header {
    text-align: left;
    width: 50%;
    position: relative;
    margin: 0 auto 0 auto;
    padding: 4% 0 0 0;
}

.topicContainer {
    line-height: 2;
    text-align: left;
    width: 50%;
    position: relative;
    margin: 3.8% auto 3.8% auto;
    background-color: #8ddbb8;
    border-style: double;
    padding: 1%;
}

th  {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

td  {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
}

hr  {
    border-style: dotted none none none;
    height: 0;
    width: 10%;
    border-color: #7a4d1d;
    border-width: 5px;
}

h1 {
    margin: 0;
}