<link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Montserrat|Sacramento&display=swap" rel="stylesheet">
<div class="cv">
    <div class="header">
        <h1>CV of Julius Langenberg</h1>
    </div>
    <div class="topicContainer">
        <table>
            <tr>
                <th>Personal Information</th>
            </tr>
            <tr>
                <td>Name:</td>
                <td>Julius Langenberg</td>
            </tr>
            <tr>
                <td>Adress:</td>
                <td>Now that I think about it, putting this out there is not a great idea.</td>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td>Nope.</td>
            </tr>
            <tr>
                <td>Gibberish</td>
                <td>Gib-Gib-biggerish</td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="topicContainer">
        <table>
            <tr>
                <th>Education</th>
            </tr>
            <tr>
                <td>Yes</td>
                <td>I am kinda.</td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="topicContainer">
        <table>
            <tr>
                <th>Internships</th>
            </tr>
            <tr>
                <td>texttexttext</td>
                <td>texttext</td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="topicContainer">
        <table>
            <tr>
                <th>Skills</th>
            </tr>
            <tr>
                <td>English:</td>
                <td>fluent</td>
            </tr>
            <tr>
                <td>French:</td>
                <td>basic</td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="topicContainer">
        <table>
            <tr>
                <th>Interests</th>
            </tr>
            <tr>
                <td>Ha ha ha ha</td>
                <td>Staying alive (staying Alive), mostly</td>
            </tr>
        </table>
    </div>
</div>