<link
  href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Montserrat|Sacramento&display=swap"
  rel="stylesheet"
/>
<div class="personal">
  <h2>{{ "aboutMe.whoAmI.title" | translate }}</h2>
  <p>{{ "aboutMe.whoAmI.text" | translate }}</p>
</div>
<div class="hobbies">
  <h2>{{ "aboutMe.hobbies.title" | translate }}</h2>
  <div class="hobbieRow">
    <img
      class="hobbieImageLeft"
      src="https://image.flaticon.com/icons/svg/617/617113.svg"
      alt="codePicture"
    />
    <h3>{{ "aboutMe.hobbies.designDevelopment.title" | translate }}</h3>
    <p>{{ "aboutMe.hobbies.designDevelopment.text" | translate }}</p>
  </div>
  <div class="hobbieRow">
    <img
      class="hobbieImageRight"
      src="https://image.flaticon.com/icons/svg/708/708858.svg"
      alt="pianoPicture"
    />
    <h3>{{ "aboutMe.hobbies.playingPiano.title" | translate }}</h3>
    <p>{{ "aboutMe.hobbies.playingPiano.text" | translate }}</p>
  </div>
  <div class="hobbieRow">
    <img
      class="hobbieImageLeft"
      src="https://image.flaticon.com/icons/svg/2060/2060252.svg"
      alt="carPicture"
    />
    <h3>{{ "aboutMe.hobbies.playingRocketLeague.title" | translate }}</h3>
    <p>{{ "aboutMe.hobbies.playingRocketLeague.text" | translate }}</p>
    <br />
  </div>
  <div class="hobbieRow">
    <img
      class="hobbieImageRight"
      src="https://image.flaticon.com/icons/svg/706/706195.svg"
      alt="foodPicture"
    />
    <h3>{{ "aboutMe.hobbies.cooking.title" | translate }}</h3>
    <p>{{ "aboutMe.hobbies.cooking.text" | translate }}</p>
    <br />
  </div>
  <div class="hobbieRow">
    <img
      class="hobbieImageLeft space"
      src="https://image.flaticon.com/icons/svg/1534/1534058.svg"
      alt="spacePicture"
    />
    <h3>{{ "aboutMe.hobbies.scienceFictionAndSpace.title" | translate }}</h3>
    <p>{{ "aboutMe.hobbies.scienceFictionAndSpace.text" | translate }}</p>
    <br />
  </div>
</div>
<div class="credit">
  <p>
    <a href="https://www.flaticon.com/free-icon/web-development_2282188"
      >{{ "aboutMe.credit.p1" | translate }}
    </a>
    <a
      href="https://www.flaticon.com/free-icon/piano_708858?term=Piano&page=1&position=6"
      >{{ "aboutMe.credit.p2" | translate }}
    </a>
    <a
      href="https://www.flaticon.com/free-icon/sport-car_2060252?term=Race%20car&page=1&position=53"
      >{{ "aboutMe.credit.p3" | translate }}
    </a>
    <a href="https://www.flaticon.com/free-icon/galaxy_1534058"
      >{{ "aboutMe.credit.p8" | translate }}
    </a>
    {{ "aboutMe.credit.p4" | translate }}
    <a
      href="https://www.flaticon.com/free-icon/diet_706195?term=Diet&page=1&position=3"
      >{{ "aboutMe.credit.p5" | translate }}</a
    >
    {{ "aboutMe.credit.p6" | translate }}
    <a href="https://www.flaticon.com/authors/freepik">Freepik</a>
    {{ "aboutMe.credit.p7" | translate }}
    <a href="https://www.flaticon.com/">www.flaticon.com</a>
  </p>
</div>
