<link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Montserrat|Sacramento&display=swap" rel="stylesheet">
<div class="personal">
    <h2>Who am I?</h2>
    <p>My name is Julius Langenberg. I am a 18 year old student at a school specialized on technologies. 
        I always had a affinity for digital technologies and decided that I want to become some kind of software engineer.
        Because of that, I decided to switch to my current school, since it has more options
        regarding technologies, especially in comparison to my old school.
    </p>
</div>
<div class="hobbies">
    <h2>My Hobbies.</h2>
    <div class="hobbieRow">
      <img class="hobbieImageLeft" src="https://image.flaticon.com/icons/svg/617/617113.svg" alt="codePicture">
      <h3>Design & Development</h3>
      <p>My interest in coding originally came from wanting to make my own video games. After taking classes in school, I now have a basic understanding
          of programming and am still learning on a daily basis. Some of my passion projects include modding games I like to play or making small games in Unity.
      </p>
    </div>
    <div class="hobbieRow">
      <img class="hobbieImageRight" src="https://image.flaticon.com/icons/svg/708/708858.svg" alt="pianoPicture">
      <h3>Playing the Piano</h3>
      <p>I've always enjoyed listening to music. At some point, I wanted to make some myself. Learning the piano is a lot of fun, but it also teaches you discipline
          and that hard practice pays off. My number one lesson was, that practice makes perfect, and without it even a talented person won't make it very far.
      </p>
    </div>
    <div class="hobbieRow">
        <img class="hobbieImageLeft" src="https://image.flaticon.com/icons/svg/2060/2060252.svg" alt="carPicture">
        <h3>Playing Rocket League</h3>
        <p>Rocket League not only teaches me to cooperate with friends, it also teaches me to keep my cool and stay nice, even when I'm loosing.
        </p> 
        <br>
    </div>
    <div class="hobbieRow">
        <img class="hobbieImageRight" src="https://image.flaticon.com/icons/svg/706/706195.svg" alt="foodPicture">
        <h3>Cooking</h3>
        <p>I started cooking for myself with approximately 13 years. With my limited cooking skills, I quickly found myself
            bored by the same kind of meals every day. With time, I not only learned a variety of dishes, but also a love for trying new food.
            I believe, that healthy eating habits are a very important part of a healthy lifestyle and key to being able to perform at your best.
            I found cooking to be a very stress relieving hobby, and especially enjoy cooking with or for family and friends,
        </p> 
        <br>
    </div>
</div>    
<div class="credit">
    <p><a href="https://www.flaticon.com/free-icon/web-development_2282188">Code, </a>
        <a href="https://www.flaticon.com/free-icon/piano_708858?term=Piano&page=1&position=6">Piano, </a>
        <a href="https://www.flaticon.com/free-icon/sport-car_2060252?term=Race%20car&page=1&position=53">Car</a> 
        and 
        <a href="https://www.flaticon.com/free-icon/diet_706195?term=Diet&page=1&position=3">Food</a> 
        Icon made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from 
        <a href="https://www.flaticon.com/">www.flaticon.com</a></p>
</div>