<div class="topContainer">
    <h1>{{ 'myProjects.main.title' | translate }}</h1>
    <p>{{ 'myProjects.main.text' | translate }}</p>
</div>
<div class="prjList">
    <h2><a href="https://jlangenberg.github.io/TypeScriptPlayground/webapp/">{{ 'myProjects.main.typeScript.title' | translate }}</a></h2>
    <!--<p>{{ 'myProjects.main.typeScript.errorMsg' | translate }}</p>-->
    <ul>
        <li><a routerLink="/isogramm-tester" routerLinkActive="active">{{ 'myProjects.main.typeScript.project1' | translate }}</a></li>
        <li><a routerLink="/string-reverser" routerLinkActive="active">{{ 'myProjects.main.typeScript.project2' | translate }}</a></li>
        <li><a routerLink="/diamond-fabricator" routerLinkActive="active">{{ 'myProjects.main.typeScript.project3' | translate }}</a></li>
    </ul>
</div>
<div class="prjList">
    <h2><a routerLink="/java-applications" routerLinkActive="active">{{ 'myProjects.main.java.title' | translate }}</a></h2>
    <ul>
        <li>{{ 'myProjects.main.java.project1' | translate }}</li>
        <li>{{ 'myProjects.main.java.project2' | translate }}</li>
    </ul>
</div>
<div class="prjList">
    <h2><a routerLink="/c-sharp-applications" routerLinkActive="active">{{ 'myProjects.main.csharp.title' | translate }}</a></h2>
    <ul>
        <li>{{ 'myProjects.main.csharp.project1' | translate }}</li>
    </ul>
</div>
<div class="prjList">
    <h2>{{ 'myProjects.main.cpp.title' | translate }}</h2>
<p>{{ 'myProjects.main.cpp.filler' | translate }}</p>
</div>
<router-outlet #routerOutlet="outlet"></router-outlet>