<div class="topContainer">
    <h1>My Projects</h1>
    <p>Since I am not yet a professional, I don't have a lot of impressive work to show here.
        But what I do have is some tasks from an internship, a few tasks from my school and one or two private projects.
    </p>
</div>
<div class="prjList">
    <h2>TypeScript Applications</h2>
    <ul>
        <li><a routerLink="/isogramm-tester" routerLinkActive="active">Is it an Isogramm?</a></li>
        <li><a routerLink="/string-reverser" routerLinkActive="active">Reverse a String</a></li>
        <li><a routerLink="/diamond-fabricator" routerLinkActive="active">Create a Diamond</a></li>
    </ul>
</div>
<div class="prjList">
    <h2><a routerLink="/java-applications" routerLinkActive="active">Java Applications</a></h2>
    <ul>
        <li>Car Database</li>
        <li>Chat</li>
    </ul>
</div>
<div class="prjList">
    <h2><a routerLink="/c-sharp-applications" routerLinkActive="active">C# Applications</a></h2>
    <ul>
        <li>Rectumble</li>
    </ul>
</div>
<div class="prjList">
    <h2>C++ Applications</h2>
    <p>I have yet to add old projects from 11th grade, or make new ones to display.
    </p>
</div>
<router-outlet #routerOutlet="outlet"></router-outlet>