<link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Montserrat|Sacramento&display=swap" rel="stylesheet">
<div class="container">
    <h1>Rectumble</h1>
    <div class="row">
        <img src='../../../assets/images/rectumble3.PNG' alt="rectumble3" class="imageLeft">
        <p>Unity gives one access to a vast library of functions, which makes making simple games very easy
           and straight forward, as long as you have knowledge of the functions you need and the features Unity has.
            Rectumble is my only finished game in Unity. It works with Code that is written in C#. <br>
            In Rectumble, the player is a cube and has to evade other cubes, some of which move, to reach the end of a level and move on the the next one.
            It features five levels with increasing level of difficulty.
        </p>
    </div>
    <div class="row">
        <img src='../../../assets/images/rectumble2.PNG' alt="rectumble2" class="imageRight">
        <p>I find coming up with new ideas and level designs especially fun. If I have an idea that requires things
            I don't know, I don't back off these ideas, but instead research online on how I could make it work.
            This kind of tinkering is a very fun and rewarding experience, once you finally figured it out.
        </p>
    </div>
</div>