<link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Montserrat|Sacramento&display=swap" rel="stylesheet">
<div class="container">
<h1>{{ 'csharp.title' | translate }}</h1>
    <div class="row">
        <img src='../../webapp/assets/images/rectumble3.PNG' alt="rectumble3" class="imageLeft">
        <p>{{ 'csharp.text1' | translate }}<br>{{ 'csharp.text2' | translate }}</p>
    </div>
    <div class="row">
        <img src='../../webapp/assets/images/rectumble2.PNG' alt="rectumble2" class="imageRight">
        <p>{{ 'csharp.text3' | translate }}</p>
    </div>
</div>