<link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Montserrat|Sacramento&display=swap" rel="stylesheet">
<div class="container">
    <h1>Java Applications</h1>
    <div class="row">
        <h3>School Test Database</h3>
        <img src='../../../assets/images/rectumble3.PNG' alt="rectumble3" class="imageLeft">
        <p>This was one of the biggest Java Programms I ever made. It was a project handed to my class by our teacher.
            While we did not work with something like SQL, it was still the first time I could finally use what I learned
            in our Database classes. The task was to create a program, that was able to save information about students, teachers and what exams the 
            students took and did yet have to take.
            After I was done with the programm, I felt like there was room for improvement. After restructuring my software, I was able to create a
            database that was able to take in new classes, students, teachers. Overall, I tried to make my storage system as flexible as possible.
        </p>
    </div>
    <div class="row">
        <h3>Bootleg Paint</h3>
        <img src='../../../assets/images/rectumble2.PNG' alt="rectumble2" class="imageRight">
        <p>Didnt't make that one yet. WIP.
        </p>
    </div>
</div>