<link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Montserrat|Sacramento&display=swap" rel="stylesheet">
<div class="container">
<h1>{{ 'java.title' | translate }}</h1>
    <div class="row">
        <h3>{{ 'java.schooldb.title' | translate }}</h3>
        <!--<img src='../../../assets/images/rectumble3.PNG' alt="rectumble3" class="imageLeft"> TODO: Add images, maybe? Make it more attractive-->
        <p>{{ 'java.schooldb.text' | translate }}</p>
    </div>
    <div class="row">
        <h3>{{ 'java.chat.title' | translate }}</h3>
        <!--<img src='../../../assets/images/rectumble2.PNG' alt="rectumble2" class="imageRight"> Add pictueres of the GUI as soon as they are done-->
        <p>{{ 'java.chat.text' | translate }}
            <br><a href="https://github.com/JLangenberg/chat-server">{{ 'java.chat.linkserver' | translate }}</a>
            <br><a href="https://github.com/JLangenberg/chat-client">{{ 'java.chat.linkclient' | translate }}</a>
        </p>
    </div>
</div>