<link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Montserrat|Sacramento&display=swap" rel="stylesheet">
<div class="topContainer">
    <h1>{{ 'introduction.title' | translate }}</h1>
    <h2>{{ 'introduction.titleCaption' | translate }}</h2>
</div>
    <div class="middleContainer">
        <p>{{ 'introduction.middleContainer.header1' | translate }}</p>
        <p>{{ 'introduction.middleContainer.header2' | translate }}</p>
        <div class="icons">
            <div class="imgContainer">
                <a title="Click for Image Source (https://www.flaticon.com/free-icon/java_226777?term=Java&page=1&position=6)" href="https://www.flaticon.com/free-icon/java_226777?term=Java&page=1&position=6"><img src="https://image.flaticon.com/icons/svg/226/226777.svg" class="javaIcon" alt="Java Icon"></a>
            </div>
            <div class="imgContainer">
                <a title="Kolicado / CC BY-SA (https://creativecommons.org/licenses/by-sa/4.0)" href="https://commons.wikimedia.org/wiki/File:Images_200px-ISO_C%2B%2B_Logo_svg.png"><img alt="Images 200px-ISO C++ Logo svg" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Images_200px-ISO_C%2B%2B_Logo_svg.png" class="cLanguageIcon"></a>
            </div>
            <div class="imgContainer">
                <a title="Vektorisierung:  OmenBreeze / Public domain" href="https://commons.wikimedia.org/wiki/File:C_Sharp_logo.svg"><img width="256" alt="C Sharp logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/C_Sharp_logo.svg/256px-C_Sharp_logo.svg.png" class="cLanguageIcon"></a>
            </div>  
        </div>
    </div>
    <hr>
    <div class="textContainer">
        <h2>{{ 'introduction.about.header' | translate}}</h2>
        <p>{{ 'introduction.about.text' | translate}}
        </p>
    </div>
    <hr>
    <div class="textContainer">
        <h2>{{ 'introduction.use.header' | translate}}</h2>
        <p>{{ 'introduction.use.text' | translate}}
        </p>
    </div>
    <div class="credit">
        <p>{{ 'introduction.credit.madeBy1' | translate }} <a href="https://www.flaticon.com/authors/freepik">{{ 'introduction.credit.madeBy2' | translate }}</a> {{ 'introduction.credit.madeBy3' | translate }}  
            <a href="https://www.flaticon.com/">{{ 'introduction.credit.madeBy4' | translate }}</a></p>
    </div>
