<link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Montserrat|Sacramento&display=swap" rel="stylesheet">
<div class="topContainer">
    <h1>I'm Julius</h1>
    <h2>An aspiring programmer</h2>
</div>
    <div class="middleContainer">
        <p>I'm 18 years old and currently learning web development.</p>
        <p>As for now, I have experience with Java, C++ and C#.</p>
        <div class="icons">
            <div class="imgContainer">
                <a title="Click for Image Source (https://www.flaticon.com/free-icon/java_226777?term=Java&page=1&position=6)" href="https://www.flaticon.com/free-icon/java_226777?term=Java&page=1&position=6"><img src="https://image.flaticon.com/icons/svg/226/226777.svg" class="javaIcon" alt="Java Icon"></a>
            </div>
            <div class="imgContainer">
                <a title="Kolicado / CC BY-SA (https://creativecommons.org/licenses/by-sa/4.0)" href="https://commons.wikimedia.org/wiki/File:Images_200px-ISO_C%2B%2B_Logo_svg.png"><img alt="Images 200px-ISO C++ Logo svg" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Images_200px-ISO_C%2B%2B_Logo_svg.png" class="cLanguageIcon"></a>
            </div>
            <div class="imgContainer">
                <a title="Vektorisierung:  OmenBreeze / Public domain" href="https://commons.wikimedia.org/wiki/File:C_Sharp_logo.svg"><img width="256" alt="C Sharp logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/C_Sharp_logo.svg/256px-C_Sharp_logo.svg.png" class="cLanguageIcon"></a>
            </div>  
        </div>
    </div>
    <hr>
    <div class="textContainer">
        <h2>About this website</h2>
        <p>This website is run with a combination of TypeScript, Node, Bootstrap and Angular.
           It was made as a project to deepen my WebDevelopment Skills. My main focus was getting
           comfortabe with Node, Bootstrap and Angular since up to this point I rarely worked with
           anything else than basic JS/TS, HTML and CSS. 
        </p>
    </div>
    <hr>
    <div class="textContainer">
        <h2>The use of this website</h2>
        <p>While I did make this website as practice for myself, I also wanted something I could show
            to give people a rough idea of my abilities as a programmer and web developer, as a sort of application. Naturally, since this
            is intended as a part of an application, there is also a bit of information about me. But
            since this is also available to anyone on the internet, I left out information that I deem private.
            Feel free to browse through this website and some of my work.
        </p>
    </div>
    <div class="credit">
        <p>Java Icon made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from  
            <a href="https://www.flaticon.com/">www.flaticon.com</a></p>
    </div>
